#app {
  .ant-layout-content {
    height: calc(-64px + 100vh);
    overflow: auto;
    margin: 25px;
    background: #fff;
    padding: 20px;
  }
  .ant-layout-header {
    height: 45px;
    padding: 0 25px;
  }
}
.ant-select-tree-dropdown {
  height: 30vh;
}
